mixin nav(items, className)
  ul(class=className)
    each item, key in items
      - var active = ''
      - var itemID = item.id
      li(class=active, data-id=itemID, style=item.style)
        +link(item.title, item.href, item.text)(class=item.class)
        - if (typeof(item.itemsMenu) !== 'undefined'){
          +nav(item.itemsMenu)
        - }
